/*----- VARIABLES -----*/

:root {
  --form-label-font-weight: bold;

  --color-red: #e53935;
  --color-red-hover: #ef5350;
  --color-green: #43a047;
  --color-green-hover: #66bb6a;
}

/*----- GENERAL -----*/

body {
  text-align: center;
  padding-bottom: 3rem;
}

.card {
  background: var(--card-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
  margin: var(--block-spacing-vertical) 0;
  padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
}

.card-empty-text {
  text-align: center;
}

.card-empty-text * {
  margin-bottom: 0;
}

.card-empty-text img:first-child {
  margin-bottom: 1rem;
}

.card-empty-text img:last-child {
  margin-top: 1rem;
}

form .card {
  margin: 0 0 calc(var(--block-spacing-vertical) / 3*2);
}

form .card + .grid {
  padding-left: var(--block-spacing-horizontal);
  padding-right: var(--block-spacing-horizontal);
}

form .card > .grid:last-child label,
form .card > .grid:last-child input,
form .card > .grid:last-child button {
  margin-bottom: 0;
}

/*----- TYPOGRAPHY -----*/

big {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

h1 + big {
  margin-top: -2rem;
}

/*----- BUTTONS -----*/

.btn-add-item,
.btn-delete-item {
  font-size: 2rem;
  height: 62px;
  line-height: 0;
  text-align: center;
  width: 70px;
}

.btn-add-item {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.btn-add-item:hover {
  background-color: var(--color-green-hover);
}

.btn-delete-item:hover {
  background-color: var(--color-red-hover);
}

  
.btn-delete-item {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

/*----- FORMS -----*/

form {
  text-align: left;
  margin: 0 auto;
}

fieldset legend {
  border-bottom: 3px solid var(--form-element-border-color);
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem 0 0.5rem;
  width: 100%;
}

select {
  height: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2);
}

.input-group {
  display: flex;
}

.input-group-text {
  background-color: var(--form-element-disabled-background-color);
  border: var(--border-width) solid var(--form-element-border-color);
  border-right: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  display: block;
  height: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2);
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

.input-group-text + input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input[type="number"] {
  text-align: right;
}

/*----- FORM: BUDGET FORM -----*/

.form-budget .grid {
  grid-template-columns: 40% auto 40px 70px
}

.form-budget #spendingCategories .grid {
  grid-template-columns: auto 70px;
}

.form-budget span.currency {
  line-height: 3rem;
}

/*----- FORM: DAILY EXPENSES FORM -----*/

.form-daily-expenses .grid {
  grid-template-columns: auto auto auto auto 70px
}

/*----- TABLE DAILY EXPENSES -----*/

.table-daily-expenses th:last-child,
.table-daily-expenses tr:last-child {
  text-align: right;
}

.table-daily-expenses button {
  font-size: 1rem;
  font-weight: bold;
  height: 2rem;
  line-height: 0;
  margin: 0 0 0 auto;
  padding: 0;
  width: 2rem;
}

/*----- HEADER -----*/

header {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

header button {
  margin: 0 0 0 1rem;
  width: auto;
}

/*----- MAIN -----*/

main,
main.container {
  max-width: 820px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}